<a href="https://colab.research.google.com/github/DevP-ai/Machine-Learning/blob/master/Heart_Disease(Compare_Logistics_and_Decision_Tree).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
import numpy as np
import pandas as pd

In [60]:
df=pd.read_csv("/content/heart_failure_clinical_records_dataset.csv")

In [61]:
df.head(3)

,age,anaemia,creatinine_phosphokinase,diabetes,ejection_fraction,high_blood_pressure,platelets,serum_creatinine,serum_sodium,sex,smoking,time,DEATH_EVENT
0,75.0,0,582,0,20,1,265000.00,1.9,130,1,0,4,1
1,55.0,0,7861,0,38,0,263358.03,1.1,136,1,0,6,1
2,65.0,0,146,0,20,0,162000.00,1.3,129,1,1,7,1

In [62]:
X=df.iloc[:,0:-1]

In [63]:
y=df.iloc[:,-1]

In [64]:
y.shape

(299,)

In [65]:
X.shape

(299, 12)

In [66]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=2)

In [67]:
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier

In [68]:
lg=LogisticRegression()
dt=DecisionTreeClassifier()

In [69]:
lg.fit(X_train,y_train)

LogisticRegression()

In [70]:
dt.fit(X_train,y_train)

DecisionTreeClassifier()

In [71]:
y_pred_lg=lg.predict(X_test)

In [72]:
y_pred_dt=dt.predict(X_test)

In [73]:
from sklearn.metrics import accuracy_score

In [74]:
lg_accuracy=accuracy_score(y_test,y_pred_lg)

In [75]:
dt_accuracy=accuracy_score(y_test,y_pred_dt)

In [76]:
print(f"Logisctic regression Accuracy: {lg_accuracy}")
print(f"Decission tree  Accuracy: {dt_accuracy}")

Logisctic regression Accuracy: 0.8555555555555555
Decission tree  Accuracy: 0.8111111111111111