<a href="https://colab.research.google.com/github/DevP-ai/Machine-Learning/blob/master/Logistic_Regression_using_Sklearn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
df=pd.read_excel("/content/PPG-BP dataset.xlsx",header=1)

In [ ]:
df.sample(5)

,Num.,subject_ID,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),Hypertension,Diabetes,cerebral infarction,cerebrovascular disease
8,9,13,Male,58,165,55,89,42,63,20.202020,Normal,NaN,NaN,NaN
172,173,223,Male,42,156,86,121,73,66,35.338593,Prehypertension,Type 2 Diabetes,NaN,NaN
140,141,188,Male,61,173,75,131,71,87,25.059307,Prehypertension,NaN,NaN,NaN
98,99,139,Female,69,150,61,141,67,61,27.111111,Stage 1 hypertension,NaN,cerebral infarction,NaN
54,55,85,Female,58,164,53,158,89,73,19.705532,Stage 1 hypertension,NaN,cerebral infarction,NaN

In [ ]:
df['Hypertension'].replace({'Normal':1},inplace=True)
df['Hypertension'].replace({'Prehypertension':1},inplace=True)
df['Hypertension'].replace({'Stage 1 hypertension':0},inplace=True)
df['Hypertension'].replace({'Stage 2 hypertension':0},inplace=True)

In [ ]:
df.sample(10)

,Num.,subject_ID,Sex(M/F),Age(year),Height(cm),Weight(kg),Systolic Blood Pressure(mmHg),Diastolic Blood Pressure(mmHg),Heart Rate(b/m),BMI(kg/m^2),Hypertension,Diabetes,cerebral infarction,cerebrovascular disease
50,51,66,Female,30,161,44,105,70,85,16.974654,1,NaN,NaN,NaN
86,87,124,Male,58,168,45,116,60,78,15.943878,1,NaN,NaN,NaN
172,173,223,Male,42,156,86,121,73,66,35.338593,1,Type 2 Diabetes,NaN,NaN
153,154,203,Female,63,153,54,123,62,52,23.068051,1,NaN,NaN,NaN
56,57,87,Female,78,160,55,164,73,85,21.484375,0,NaN,cerebral infarction,NaN
202,203,259,Female,84,152,44,127,65,60,19.044321,1,Type 2 Diabetes,NaN,NaN
154,155,205,Female,58,160,75,151,82,78,29.296875,0,NaN,NaN,NaN
87,88,125,Female,69,155,60,160,77,88,24.973985,0,NaN,NaN,NaN
63,64,95,Female,64,163,72,153,71,59,27.099251,0,NaN,NaN,insufficiency of cerebral blood supply
41,42,56,Male,74,155,55,114,75,106,22.892820,1,NaN,NaN,NaN

In [ ]:
feature=["BMI(kg/m^2)","Heart Rate(b/m)","Diastolic Blood Pressure(mmHg)"]

In [ ]:
X=df[feature].values

In [ ]:
y=df["Hypertension"].values

In [ ]:
X

array([[ 27.26800554,  97.        ,  89.        ],
       [ 20.28479857,  76.        ,  93.        ],
       [ 20.88888889,  79.        ,  71.        ],
       [ 21.97133586,  87.        ,  93.        ],
       [ 27.05515088,  73.        ,  73.        ],
       [ 26.5625    ,  70.        ,  62.        ],
       [ 20.93212012,  84.        ,  78.        ],
       [ 27.34375   ,  84.        ,  73.        ],
       [ 20.2020202 ,  63.        ,  42.        ],
       [ 20.88888889,  69.        ,  56.        ],
       [ 29.41176471,  94.        ,  85.        ],
       [ 22.66666667,  78.        ,  80.        ],
       [ 23.72528616,  75.        ,  70.        ],
       [ 29.296875  ,  84.        ,  71.        ],
       [ 27.55555556,  84.        ,  63.        ],
       [ 25.33333333,  80.        ,  86.        ],
       [ 19.72103697,  93.        ,  75.        ],
       [ 20.3125    ,  76.        ,  57.        ],
       [ 21.33333333,  79.        ,  65.        ],
       [ 28.3446712 ,  72.        ,  89.        ],
       [ 24.22145329,  82.        ,  75.        ],
       [ 24.22145329, 103.        ,  64.        ],
       [ 20.76124567,  91.        ,  81.        ],
       [ 24.22145329,  73.        ,  90.        ],
       [ 25.33333333,  81.        , 102.        ],
       [ 22.49134948,  66.        ,  64.        ],
       [ 21.05170826,  80.        ,  85.        ],
       [ 24.85907356,  85.        ,  72.        ],
       [ 18.75      ,  87.        ,  96.        ],
       [ 20.56932966,  72.        ,  56.        ],
       [ 20.81165453,  66.        ,  65.        ],
       [ 35.3798127 ,  87.        ,  72.        ],
       [ 16.52892562,  59.        ,  77.        ],
       [ 20.54419284,  80.        ,  76.        ],
       [ 19.6282647 ,  65.        ,  90.        ],
       [ 23.03004535,  80.        ,  88.        ],
       [ 24.76756592,  93.        , 107.        ],
       [ 22.58270917,  73.        ,  62.        ],
       [ 19.03114187,  84.        ,  63.        ],
       [ 23.4375    ,  71.        ,  66.        ],
       [ 25.94548396,  69.        ,  88.        ],
       [ 22.89281998, 106.        ,  75.        ],
       [ 16.49395819, 106.        ,  84.        ],
       [ 20.02884153,  67.        ,  63.        ],
       [ 23.4375    ,  85.        ,  54.        ],
       [ 24.44727891,  59.        ,  74.        ],
       [ 23.87511478,  79.        ,  74.        ],
       [ 22.60026298,  62.        ,  63.        ],
       [ 20.        ,  89.        ,  73.        ],
       [ 18.36547291,  77.        ,  76.        ],
       [ 16.97465376,  85.        ,  70.        ],
       [ 21.20844875,  67.        ,  63.        ],
       [ 18.66666667, 101.        ,  80.        ],
       [ 22.22222222,  69.        ,  53.        ],
       [ 19.70553242,  73.        ,  89.        ],
       [ 31.64431787,  74.        ,  87.        ],
       [ 21.484375  ,  85.        ,  73.        ],
       [ 25.6311675 ,  76.        ,  69.        ],
       [ 24.23822715,  63.        ,  55.        ],
       [ 32.66076354,  85.        ,  77.        ],
       [ 25.        ,  71.        ,  58.        ],
       [ 25.        ,  73.        ,  76.        ],
       [ 22.40817899,  78.        ,  95.        ],
       [ 27.09925101,  59.        ,  71.        ],
       [ 24.8357635 ,  72.        ,  71.        ],
       [ 26.57312925,  66.        ,  65.        ],
       [ 23.87543253,  70.        ,  65.        ],
       [ 20.76124567,  80.        ,  71.        ],
       [ 28.        ,  73.        ,  82.        ],
       [ 19.22337562,  76.        ,  60.        ],
       [ 22.89281998,  72.        ,  75.        ],
       [ 27.00513097,  69.        ,  66.        ],
       [ 27.35884546,  66.        ,  77.        ],
       [ 20.76124567,  70.        ,  66.        ],
       [ 25.390625  ,  72.        ,  65.        ],
       [ 21.08281329,  86.        ,  63.        ],
       [ 25.25951557,  79.        ,  76.        ],
       [ 24.24242424,  89.        , 100.        ],
       [ 21.29529475,  61.        ,  79.        ],
       [ 20.44913742,  66.        ,  73.        ],
       [ 36.44444444,  62.        ,  66.        ],
       [ 20.2020202 ,  53.        ,  48.        ],
       [ 19.47714681,  67.        ,  67.        ],
       [ 21.33333333,  60.        ,  85.        ],
       [ 21.33333333,  76.        ,  72.        ],
       [ 19.53125   ,  67.        ,  64.        ],
       [ 15.94387755,  78.        ,  60.        ],
       [ 24.97398543,  88.        ,  77.        ],
       [ 18.13121943,  83.        ,  53.        ],
       [ 20.96436059,  85.        ,  63.        ],
       [ 24.21875   ,  67.        ,  68.        ],
       [ 22.54657648,  74.        ,  58.        ],
       [ 17.00882085,  80.        ,  61.        ],
       [ 15.82214289,  83.        ,  65.        ],
       [ 25.71166208,  73.        ,  86.        ],
       [ 24.65483235,  58.        ,  56.        ],
       [ 18.26150475,  73.        ,  64.        ],
       [ 24.97398543,  67.        ,  71.        ],
       [ 27.11111111,  61.        ,  67.        ],
       [ 17.087445  ,  92.        ,  69.        ],
       [ 21.90758246,  75.        ,  62.        ],
       [ 25.96952909,  62.        ,  84.        ],
       [ 22.65625   ,  72.        ,  71.        ],
       [ 21.33821064,  82.        ,  55.        ],
       [ 23.23345618,  80.        ,  84.        ],
       [ 26.5625    ,  78.        ,  64.        ],
       [ 20.57613169,  72.        ,  68.        ],
       [ 28.3530572 ,  68.        ,  79.        ],
       [ 24.44444444,  59.        ,  63.        ],
       [ 35.84078259,  70.        ,  71.        ],
       [ 19.6282647 ,  78.        ,  69.        ],
       [ 30.48315806,  69.        ,  70.        ],
       [ 14.69237833,  64.        ,  63.        ],
       [ 19.53125   ,  68.        ,  68.        ],
       [ 22.30814991,  58.        ,  88.        ],
       [ 24.05693475,  68.        ,  67.        ],
       [ 20.44913742,  82.        ,  64.        ],
       [ 20.2020202 ,  82.        ,  62.        ],
       [ 27.75510204,  58.        ,  70.        ],
       [ 26.7299275 ,  76.        ,  73.        ],
       [ 18.9370029 ,  64.        ,  75.        ],
       [ 22.48132907,  67.        ,  68.        ],
       [ 20.54988662,  93.        ,  89.        ],
       [ 17.85062274,  67.        ,  60.        ],
       [ 22.86236854,  70.        ,  72.        ],
       [ 24.97704316,  60.        ,  73.        ],
       [ 37.46097815,  61.        ,  88.        ],
       [ 26.75321258,  79.        ,  70.        ],
       [ 20.56880661,  77.        ,  63.        ],
       [ 22.43230252,  71.        ,  63.        ],
       [ 23.87511478,  70.        ,  74.        ],
       [ 20.24489796,  59.        ,  59.        ],
       [ 22.03856749,  98.        ,  84.        ],
       [ 19.73597649,  69.        ,  82.        ],
       [ 21.10726644,  76.        ,  69.        ],
       [ 23.01117686,  61.        ,  55.        ],
       [ 23.4375    ,  73.        ,  72.        ],
       [ 22.20408163,  59.        ,  78.        ],
       [ 21.08281329,  71.        ,  64.        ],
       [ 21.484375  ,  75.        ,  74.        ],
       [ 25.05930703,  87.        ,  71.        ],
       [ 24.03440715,  68.        ,  53.        ],
       [ 21.61281179,  77.        ,  59.        ],
       [ 32.7449283 ,  78.        ,  75.        ],
       [ 21.63114885,  63.        ,  75.        ],
       [ 22.49134948,  72.        ,  78.        ],
       [ 26.81174511,  60.        ,  78.        ],
       [ 16.        ,  74.        ,  68.        ],
       [ 25.390625  ,  81.        ,  80.        ],
       [ 34.13111342,  76.        ,  94.        ],
       [ 24.03460984,  58.        ,  66.        ],
       [ 23.06805075,  53.        ,  62.        ],
       [ 26.44628099,  63.        ,  77.        ],
       [ 23.06805075,  52.        ,  62.        ],
       [ 29.296875  ,  78.        ,  82.        ],
       [ 24.65483235,  65.        ,  71.        ],
       [ 22.22222222,  74.        ,  79.        ],
       [ 24.38652644,  64.        ,  87.        ],
       [ 19.95935549,  63.        ,  69.        ],
       [ 23.046875  ,  68.        ,  79.        ],
       [ 22.58955144,  52.        ,  69.        ],
       [ 19.56295525,  62.        ,  86.        ],
       [ 21.70792339,  55.        ,  91.        ],
       [ 20.2812331 ,  56.        ,  61.        ],
       [ 18.73048907,  81.        ,  75.        ],
       [ 23.73530842,  63.        , 101.        ],
       [ 23.63403301,  58.        ,  83.        ],
       [ 25.6311675 ,  79.        ,  78.        ],
       [ 24.97704316,  78.        ,  92.        ],
       [ 20.81165453,  96.        , 104.        ],
       [ 25.68370987,  68.        ,  81.        ],
       [ 16.40625   ,  67.        ,  65.        ],
       [ 35.33859303,  66.        ,  73.        ],
       [ 24.4646016 ,  67.        ,  60.        ],
       [ 19.37919743,  76.        ,  77.        ],
       [ 24.74745426,  69.        ,  74.        ],
       [ 33.46222487,  91.        ,  90.        ],
       [ 19.48696145,  94.        ,  62.        ],
       [ 25.5367036 ,  76.        ,  61.        ],
       [ 29.13631634,  60.        ,  69.        ],
       [ 22.40587695,  67.        ,  62.        ],
       [ 22.86236854,  72.        ,  70.        ],
       [ 29.41075887,  63.        ,  76.        ],
       [ 23.52941176,  84.        ,  65.        ],
       [ 20.54988662,  61.        ,  74.        ],
       [ 24.48979592,  65.        ,  93.        ],
       [ 30.81854043,  71.        ,  65.        ],
       [ 27.43484225,  72.        ,  79.        ],
       [ 24.6097337 ,  98.        ,  69.        ],
       [ 23.55555556,  71.        ,  72.        ],
       [ 20.703125  ,  66.        ,  65.        ],
       [ 20.76124567,  81.        ,  80.        ],
       [ 26.57589059,  55.        ,  68.        ],
       [ 21.50446956,  80.        ,  59.        ],
       [ 24.65483235,  67.        ,  71.        ],
       [ 24.44444444,  64.        ,  63.        ],
       [ 25.0995016 ,  75.        ,  62.        ],
       [ 25.60553633,  60.        ,  82.        ],
       [ 21.87242282,  74.        ,  82.        ],
       [ 20.88888889,  77.        ,  70.        ],
       [ 23.63403301,  80.        ,  57.        ],
       [ 22.65625   ,  88.        ,  70.        ],
       [ 19.04432133,  60.        ,  65.        ],
       [ 17.75568182,  85.        ,  71.        ],
       [ 19.56295525,  67.        ,  59.        ],
       [ 17.62538055,  86.        ,  55.        ],
       [ 25.64891762,  69.        ,  63.        ],
       [ 15.81685744,  82.        ,  67.        ],
       [ 17.62538055,  83.        ,  63.        ],
       [ 20.95717116,  80.        ,  66.        ],
       [ 20.70081674,  74.        ,  65.        ],
       [ 20.81165453,  64.        ,  56.        ],
       [ 23.45856238,  63.        ,  70.        ],
       [ 19.48696145,  87.        ,  68.        ],
       [ 21.60493827,  77.        ,  70.        ],
       [ 19.31295201,  79.        ,  57.        ],
       [ 17.75568182,  72.        ,  69.        ],
       [ 21.0498179 ,  67.        ,  69.        ],
       [ 18.93877551,  65.        ,  68.        ]])

In [ ]:
X.shape

(3,)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc_x = StandardScaler()
xtrain = sc_x.fit_transform(X_train) 
xtest = sc_x.transform(X_test)

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier = LogisticRegression(random_state = 0)
classifier.fit(xtrain, y_train)

LogisticRegression(random_state=0)

In [ ]:
y_pred = classifier.predict(xtest)

In [ ]:

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
  
print ("Confusion Matrix : \n", cm)

Confusion Matrix :
 [[ 7  4]
 [ 2 42]]

In [ ]:

from sklearn.metrics import accuracy_score
print ("Accuracy : ", accuracy_score(y_test, y_pred))

Accuracy :  0.8909090909090909

In [ ]:
from sklearn.metrics import precision_recall_fscore_support
precision_recall_fscore_support(y_test, y_pred, average='macro')

(0.8454106280193237, 0.7954545454545454, 0.8166666666666667, None)

In [ ]:
precision_recall_fscore_support(y_test, y_pred, average='weighted')

(0.8859903381642512, 0.8909090909090909, 0.8866666666666666, None)